/* Created by: Venika Sem
* Created on: Apr 2022
* This file contains the CSS for index.html
*/

body {
  text-align: center;
  background-color: #29b8ff;
}

h1 {
  color: #001a57;
}

h3 {
  color: #003dcc;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.mdl-button {
  position: center;
}

.mdl-radio__label {
  color: #001a57
}