/* Created by: Venika Sem
* Created on: Apr 2022
* This file contains the CSS for index.html
*/

body {
  text-align: center;
  background-color: #45426c;
}

h1 {
  color: #ccc2e5;
}

h3 {
  color: #ccc2e5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.button2 {
  position: relative;
  top: -16px;
  left: -502px;
}

.mdl-radio__label {
  color: #ccc2e5
}