/* Created by: Venika Sem
* Created on: Apr 2022
* This file contains the CSS for index.html
*/

body {
  text-align: center;
  background-color: #000;
}

h1 {
  color: #fff;
}

h3 {
  color: #fff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.button2 {
  background-color: #c8ae89; 
  color: #000; 
  position: relative;
  top: -16px;
  left: -502px;
}
